<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Railing Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/shop/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/shop/products}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/shop/orders}">Orders</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <form align="right"
                      th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" class="btn btn-info"/>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Order Details </h1>
    <h3>Customer data</h3>
    <p>Name: <strong th:text="${user.firstName + ' ' + user.lastName}"></strong></p>
    <p>Address: <strong th:text="${user.address}"></strong></p>
    <table class="table">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderProduct : ${order.orderProducts}">
            <td th:text="${orderProduct.product.name}"></td>
            <td th:text="${orderProduct.quantity}"></td>
            <td th:text="${orderProduct.product.price}"></td>
            <td th:text="${orderProduct.totalPrice}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>