<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>Orders</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post" th:action="@{/shop/orders/filter}">
                <div class="form-group">
                    <label for="orderStatus">Filter by status:</label>
                    <select class="form-control" id="orderStatus" name="status">
                        <option value="">--Select a status--</option>
                        <option value="ALL">All</option>
                        <option th:each="status : ${T(com.example.RailingShop.Enums.OrderStatus).values()}"
                                th:value="${status}" th:text="${status.getValue()}"
                                th:selected="${status == statusValue}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>User</th>
            <th>Total Price</th>
            <th>Status</th>
            <th></th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.user.firstName + ' ' + order.user.firstName}"></td>
            <td th:text="${order.totalPrice}"></td>
            <td>
                <form method="post" th:action="@{/shop/orders/{id}/status(id=${order.id})}" th:object="${order}">
                    <div class="form-group">
                        <select class="form-control" name="orderStatus" required>
                            <option th:each="status : ${T(com.example.RailingShop.Enums.OrderStatus).values()}"
                                    th:value="${status}" th:text="${status.name()}"
                                    th:selected="${status == order.orderStatus}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Change Status</button>
                </form>
            </td>
            <td>
                <a th:href="@{/shop/orders/details/{id}(id=${order.id})}" class="btn btn-secondary">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>